.modal-container {
    width: 350px;
    padding: 30px;
    background-color: white;
    position: fixed;
    left: calc(50% - 185px);
    top: 270px;
    border-radius: 15px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #081012;
}

h1 {
    font-size: 26px;
    font-weight: 700;
}

button {
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto 0 auto;
    border: none;
}

.primary-button {
    background-color: #488dc0;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
}

.primary-button:hover {
    background-color: #4e95cb;
}

.primary-button:active {
    background-color: #2e6f9d;
}

.second-button {
    margin-top: 30px;
    background: none;
    color: #1f5b81;
    font-size: 18px;
    font-weight: 600;
}

.second-button:hover {
    color: #397aa6;
}

.second-button:active {
    color: #1a5073;
}

form {
    margin-top: 25px;
}

form tui-input {
    margin-top: 15px;
}

.error {
    margin-top: 8px;
    color: firebrick;
    font-size: 16px;
}
