.container, .subject-container {
    background-color: var(--tui-base-01);
    border-radius: 15px;
    width: 100%;
    margin: 20px auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
}

.subject-container {
    min-height: 100px;
}

.container {
    min-height: 250px;
}

.no-subjects {
    padding-top: 100px;
    text-align: center;
}
