<ul *ngIf="teachers.length; else noSubjects">
    <ng-container *ngFor="let teacher of teachers">
        <li *ngFor="let subject of teacher.subjects"  class="subject-container">
            <app-subject [subject]="subject" [teacher]="teacher"></app-subject>
        </li>
    </ng-container>
</ul>

<ng-template #noSubjects>
    <div class="container">
        <div class="no-subjects">
            <h2>Для вас еще не добавлено предметов</h2>
        </div>
    </div>
</ng-template>

<div class="message" *ngIf="isShowMessage">
    <p>Данные обновлены!</p>
</div>
