.container, .subject-container {
    background-color: var(--tui-base-01);
    border-radius: 15px;
    width: 100%;
    margin: 20px auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
}

.subject-container {
    min-height: 100px;
}

.container {
    min-height: 250px;
}

.no-subjects {
    padding-top: 100px;
    text-align: center;
}

.subject-header {
    padding: 30px 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject-header * {
    display: block;
}

.subject-header h2 {
    font-size: 26px;
}

.subject-header p {
    font-size: 22px;
    display: flex;
}

.subject-mark {
    display: flex;
}

.subject-body {
    padding: 0 40px 25px;
    font-size: 20px;
    line-height: 25px;
}

.subject-body p {
    margin-bottom: 20px;
}

.teacher {
    font-size: 18px;
}

.subject-body p:last-child {
    margin-bottom: 0;
}

.homework-title {
    margin: 15px 0 0 0;
}

.no-mark {
    font-size: 16px;
    font-weight: 300;
}
